.dropdown-container{
    background-color: white;
    position:absolute;
    display:flex;
    align-items:center;
    overflow:hidden;
    height:auto;
    top:4rem;
    width:80%;
    z-index:100;
    border-radius: 15px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
}
.search-arrow-up{
    position:absolute;
    display: flex;
    justify-content: center;
    left:0px;
    align-items: center;
    width:100%;
    top:0px;
    z-index:1000;
    cursor: pointer;
    color:grey;
}
.slider-box-custom{
    width:100%;
    padding-top:5px;
    max-height:350px;
    height:auto
}
.search-arrow-up:hover,
.search-arrow-down:hover{
 color:black
}
.search-arrow-down{
    position:absolute;
    display: flex;
    color:grey;
    left:0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom:0px;
    z-index:1000;
    cursor: pointer;
}
