.container{
    width:80%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: clamp(25px,1.5rem,30px);
    aspect-ratio: 1;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:10px;
    transform: translateY(-50%);
}

.input-icon{
    padding-left: 3rem;
}
.input-wo-icon{
    padding-left:1rem;
}


.input{
    
    border-radius: 7px;
    text-decoration: none;
    font-size:x-large;
    padding-right:1rem;
}
.Big{
    height:clamp(40px,2.5rem,60px);
    width: 100%;
}
.Small{
    height:clamp(30px,2rem,40px);
    width: 1rem;
}