.container{
    width:80%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 100%;
    width: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    left:10px;
    z-index: 12;
}

.input-icon{
    padding-left: 3rem;
}
.input-wo-icon{
    padding-left:1rem;
}
.coverup{
    position:fixed;
    z-index: 2;
    top:0px;
    left:0px;
    width: 100vw;
    height:100%;
    background-color: rgba(94, 94, 94, 0.432);
}


.input{
    background-color: rgb(232, 232, 232);
    border:none;
    z-index:10;
    border-radius: 7px;
    text-decoration: none;
    font-size:x-large;
    padding-right:1rem;
}

.input:focus{
    outline: none;
}
.Big{
    height:clamp(40px,2.5rem,60px);
    width: 100%;
}
.Small{
    height:clamp(30px,2rem,40px);
    width: 1rem;
}