.error-wrapper{
    position:fixed;
    top:5vh;
    left:5vw;
    z-index:999;
    height:fit-content;
    width: fit-content;
    
    display:grid;
    gap:10px;
}
.error-box{
    padding-top:10px;
    padding-bottom:10px;
    border-radius:15px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0, 0.3);
    width:clamp(200px,90vw,350px);
    transition: all 0.3s ease-in-out;
    text-align: center;
    overflow:hidden
    
}
.error-box-title{
    font-size:large;
    font-weight:700;

}
.error{
    background-color: rgb(243, 37, 37);
}
.success{
    background-color: rgb(3, 182, 3);
}
.warning{
    background-color: rgb(255, 255, 0);
}
.log{
    background-color: grey;
}