.info-modal-container{
    z-index: 500;
    width: 100vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    background-color: white;
    overflow-y: auto;
    background-color: rgba(121, 121, 121, 0.426);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.info-modal-content{
    z-index: 510;
    min-height:clamp(200px, 60vh,700px);
    margin-top:15vh;
    margin-bottom:10vh;
    height:fit-content;
    position:relative;
    display: flex;
    flex-direction: column;
    width:clamp(100px, 70vw,850px);
    border-radius: 15px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0, 0.3);
    background-color: rgb(244, 244, 244);
    border:1px solid rgb(225, 225, 225);
}
.info-modal-close-box{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:10px;
    right:10px;
    height:1.5rem;
    font-size: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: lightgray;
    cursor: pointer;
}
.info-modal-close-box:hover{
    background-color: gray;
}
.info-modal-header{
    height:fit-content;
    width: stretch;
    padding:20px;
    display:flex;
    flex-direction: row;
}
.info-modal-img{
    flex:1;
    height:fit-content
}
.info-modal-header-infos{
    flex:3;
    height:fit-content;
    display: flex;

    padding:5px;
    flex-direction: column;
}
.info-modal-header-infos>h1{
    margin-bottom:0;
    font-size: 2rem;
}
.info-modal-header-infos>h3{
    font-size:1.2rem;
    margin-top:0;
}

.info-modal-beschreibung{
    padding:20px;
    font-weight: 500;
    font-size:large
}
.clickable-link,
.clickable-link:visited,
.clickable-link:active{
    display: flex;
    align-items: center;
    gap:5px;
    color:white;
    text-decoration: none;
}
.clickable-link-container:hover{
    background-color: #435166;
}
.genre-item{
    width: fit-content;
    padding:10px;
    background-color: #62738d;
    color:white;
    border-radius: 10px;
    font-size:1.2rem
}
.genre-container{
    width: 100%;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}