.modal-bg{
    position:fixed;
    z-index: 150;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    overflow-y: auto;
    background-color: rgba(121, 121, 121, 0.426);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.modal-content-box{
    min-height:clamp(100px, 70vh,800px);
    margin-top:10vh;
    margin-bottom:10vh;
    height:fit-content;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:clamp(100px, 80vw,950px);
    border-radius: 15px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0, 0.3);
    background-color: rgb(244, 244, 244);
    border:1px solid rgb(225, 225, 225);
    text-align: center;
}
.modal-close-box{
    position:absolute;
    top:20px;
    right:20px;
    font-size: 2em;
    cursor: pointer;
}
.modal-filmlist{
    justify-content: center;
    width: 90%;
    display:grid;
    gap:30px;
    grid-template-columns: repeat(auto-fill, minmax(200px,max-content));
    grid-auto-rows: 15rem;
}
