.App {
    min-height: 90vh;
    height:auto;
    padding-top:5vh;
    padding-bottom:5vh;
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    background-color: rgba(247, 247, 247, 0.933);
    
  }
  .show-vertical{
    opacity: 1;
    animation:slideInVertical 1s ease-in-out;
    transition:all 1s;
  }
  .show-horizontal{
    opacity: 1;
    animation:slideInHorizontal 1s ease-in-out;
    transition:all 1s;
  }
  .show-horizontal-up{
    opacity: 1;
    animation:slideInHorizontalup 1s ease-in-out;
  }
  

  @keyframes slideInVertical {
    0%{
      opacity: 0;
      transform: translateX(-100%);
    }
    100%{
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideInHorizontal {
    0%{
      opacity: 0;
      transform: translateY(-100%);
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes slideInHorizontalup {
    0%{
      opacity: 0;
      transform: translateY(100%);
    }
    100%{
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .fixed-next-button{
    position: fixed;
    bottom:30px;
    right:30px;
    height:3rem;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:2px;
    cursor: pointer;
    border-radius: 15px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
  }
  .fixed-next-button-icon{
    transform:translateY(10%);
    z-index: 2;
  }
  
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .flex{
    display: flex;
  }
  .flex-eins{
    flex:1;
  }
  .flex-zwei{
    flex:2;
  }
  .flex-drei{
    flex:3;
  }
  .flex-vier{
    flex:4;
  }
  .flex-fuenf{
    flex:5;
  }
  .row{
    flex-direction: row;
  }
  .column{
    flex-direction:column
  }
  .searchbox{
    display: flex;
    position:relative;
    justify-content: center;
    width:100%
  }
  .toggle-box{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
    display: flex;
    justify-content: center;
  }
  .header{
    width: 100%;
    text-align: center;
    position:relative;

  }
  .active{
    color:pink
  }
  
  .login-box{
    background-color: white;
    border-radius:30px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
    height: auto;
    min-height: clamp(100px, 70vh,800px);
    width: clamp(100px, 80vw,800px);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .login-box>h5{
    margin:0;
    margin-bottom:15px;
  }
  
  .wrapper{
    padding-top:30px;
      padding-bottom: 30px;
    width: stretch;
    display: flex;
    justify-content: center;
  }
  
  .divider
  {
      height: 1px;
    width: 80%;
    background-color:lightgray;
  }
  
  
  
  
  
  
  