.App {
  min-height: 90vh;
  height:auto;
  padding-top:5vh;
  padding-bottom:5vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-color: rgba(247, 247, 247, 0.933);
}


img {
  max-width: 100%;
  max-height: 100%;
}
.flex{
  display: flex;
}
.flex-eins{
  flex:1;
}
.flex-zwei{
  flex:2;
}
.flex-drei{
  flex:3;
}
.flex-vier{
  flex:4;
}
.flex-fuenf{
  flex:5;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction:column
}
.searchbox{
  display: flex;
  position:relative;
  justify-content: center;
  width:100%
}

.login-box{
  background-color: white;
  border-radius:30px;
  box-shadow:0px 0px 24px 2px rgba(0,0,0,0.3);
  height: auto;
  min-height: clamp(100px, 70vh,800px);
  width: clamp(100px, 70vw,800px);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-box>h5{
  margin:0;
  margin-bottom:15px;
}

.wrapper{
  padding-top:30px;
	padding-bottom: 30px;
  width: stretch;
  display: flex;
  justify-content: center;
}

.divider
{
	height: 1px;
  width: 80%;
  background-color:lightgray;
}






