.filmitem-container{
    overflow:hidden;
    height:fit-content;
    width: 80%;
    border-radius:15px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0, 0.3);
    background-color: rgb(244, 244, 244);
    border:1px solid rgb(225, 225, 225);
    padding:10px;
    margin-top: 15px;
    margin-bottom:15px;
    display: flex;
    justify-content: center;
}
.bewertung{
    position:absolute;
    transform:translateY(-20%);
    right:0;
    top:0;
}


.relative{
    position:relative;
}
.picture{
    max-height:120px;
    text-align: center;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;

}
.filmitem-container-box{
    position:relative;
}
.delete-container{
    position:absolute;
    height:1em;
    width: 1em;
    top:0;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right:0;
    border-radius:50%;
    color:white;
    background-color: rgb(250, 62, 62);
    transform:translate(-25%,25%);
    
}
@media only screen and (max-width: 600px){
    .delete-container{
        height:1.5em;
        width: 1.5em;
    }
    .delete{
        font-size:15px;
    }

}
.delete-container:hover{
    background-color: rgb(182, 48, 48);
}
.delete{
    height:5em;
    aspect-ratio: 1;
    font-size:20px;
}

.title{
    font-size:20px;
    font-weight: 700;
}
 
.top-line{
    display: flex;
    flex-direction: row;
}

.gradient>p{
    margin:0;
    background:linear-gradient(to bottom,black,rgba(0, 0, 0, 0.591) 2rem, transparent 100%);
    background-clip: text;
    color: transparent;
}

.description{
    font-size: 16px;
}
.big{
    width: stretch;
}
.filmitem-chevron{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    

}
.fimitem-chevron-absolute{
    position:absolute;
    bottom:-10px;
}
.filmpic{
    font-size:8px;
}
.filmitem-container-relative{
    position:relative
}
.filmitem-desc-full{
    
}
.filmitem-desc-full>p{
    margin:0;
}

