.filmitem-container{
    overflow:hidden;
    height:auto;
    width: 80%;
    border-radius:15px;
    box-shadow:0px 0px 24px 2px rgba(0,0,0,0.25);
    background-color: rgb(244, 244, 244);
    border:1px solid rgb(225, 225, 225);
    padding:10px;
    margin-top: 15px;
    margin-bottom:15px;
    display: flex;
    justify-content: center;
}
.text{
    max-height:150px;
}
.picture{
    max-height:120px;
    text-align: center;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;

}

.title{
    font-size:20px;
    font-weight: 700;
}
 
.top-line{
    display: flex;
    flex-direction: row;
}

.gradient>p{
    margin:0;
    background:linear-gradient(to bottom,black,rgba(0, 0, 0, 0.591) 65%, transparent 100%);
    background-clip: text;
    color: transparent;
}

.description{
    font-size: 16px;
}
.big{
    width: stretch;
}

